.sunset {
    justify-content: center;
    position: absolute;
    left: 500px;
    top: 10px;
    display: none;
    
}

.guy {
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}


.HI {
    position: absolute;
    top: 150px;
    left: 135px;
    justify-content: center;
    z-index: 11000;
    font-size: 10px;
    display: none;
}


.button {
    border: none;
    color: darkslategray;
    width: 172px;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}


.button1 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -82px;
    

    
}


.fruit {
    position: absolute;
    top:25%;
    left: 10%;
    display: none;
}

.fullenglish {
    position: absolute;
    top: 25%;
    left: 36%;
    display: none;
}

.waffles {
    position: absolute;
    top: 25%;
    right: 10%;
    display: none;
}


.button2 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 90%;
    left: 20%;
    margin-top: -50px;
    margin-left: -82px;
    display: none;
    
}

.button3 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 90%;
    left: 50%;
    margin-top: -70px;
    margin-left: -82px;
    display: none;
    

    
}

.button4 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 90%;
    left: 77%;
    margin-top: -50px;
    margin-left: -82px;
    display: none;

    
}

.chooseBreakfast {
    position: absolute;
    top: 5%;
    left: 30%;
    justify-content: center;
    z-index: 11000;
    font-size: 25px;
    display: none;

}

.goodBreakfastChoice {
    position: absolute;
    top: 5%;
    left: 20%;
    justify-content: center;
    z-index: 11000;
    font-size: 25px;
    display: none;

}

.button5 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 90%;
    left: 20%;
    margin-top: -50px;
    margin-left: -82px;
    display: none;
    
}

.button6 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 90%;
    left: 50%;
    margin-top: -70px;
    margin-left: -82px;
    display: none;
    

    
}

.button7 {
    background-color: pink;
    margin: 0; 
    position: fixed;
    top: 90%;
    left: 77%;
    margin-top: -50px;
    margin-left: -82px;
    display: none;

    
}


.cinema {
    position: absolute;
    top:25%;
    left: 10%;
    display: none;


    
}

.walkinpark {
    position: absolute;
    top:25%;
    left: 40%;
    display: none;
    
}

.shopping {
    position: absolute;
    top: 25%;
    right: 5%;
    display: none;
}