.sunset {
    justify-content: center;
    position: absolute;
    left: 400px;
    top: 0px;
    
}

.guy {
    position: absolute;
    left: 0px;
    
}


.HI {
    position: absolute;
    top: 400px;
    justify-content: center
    
}